@model entfw1.Models.User
@{
    ViewBag.Title = "User Delete";
}
 
<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
 
        <dt>Возраст</dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
 
    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
    </div>
</div>